#image{
    margin-top: 50px;
  height:300px;
  width:250px;
  border-radius:70%;
  display:block;
  margin-left:550px;
  margin-right:auto;
}
body{
  background:linear-gradient(#22c1c3 8%,#fdbb2d 100%);
  background-repeat:no-repeat;
}
h2{
  font-size:48px;
  text-shadow: 2px 2px #795548;
  text-align:center;
}
h1{
  text-align:center;
  padding-top:20px;
  font-size: 36px;
}
.divide{
  height:6px;
  background-color:#212121;
  margin:8px auto;
  width:70px;
  
}
#intro{
  text-align:center;
  font-size:28px;
}
.bio{
  text-align:center;
  padding-top:20px;
}
#detail{
  text-align:centre;
  font-size:18px;
}
.menu{
    list-style:none;
    cursor: pointer;
    height:50px;
    position:fixed;
    width:100%;
    background-color: white;
    padding-top: 25px;
    margin-top: -1px;
    z-index: 10;
    margin-right: 10;
}
.link{
    display: inline;
    margin-left: 20px;
    padding-left: 10px;
    font-size: 24px;
}
.link:hover{
    background-color: pink;
    text-decoration: underline;
    font-size:30px;
    
}
#hobby{
    font-family: "Dancing Script";
}
.resize{
    width: 500px;
    margin-left:100px;
}
#resize{
    margin-left:150px;
}
#resizer{
    margin-left:150px;
}
#link{
   margin-left: 550px;
}
a{
    text-shadow: 2px 2px pink;
    text-decoration: none;
}
#recipes a{
    color:blue!important;
    text-decoration:none! important;
    text-shadow:none! important;
}
#email{
   font-size:24px; 
}